# Source
src/

# Packages
node_modules/

# Log files
logs/
*.log

# Miscellaneous
.tmp/
.vscode/
docs/
template/

# NPM ignore
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierrc
.github/
test/
tsconfig.json
